# Ignore git data
.git/
.gitignore
.github/

# Ignore local data
data/

# Ignore compiled python files
__pycache__/
*.pyc

# Ignore environment files
.env
.venv/
venv/
env/

# Ignore IDE files
.idea/
.vscode/
.DS_Store

# Testing and Logs
.coverage
htmlcov/
.pytest_cache/
*.log
